<br/>
<h2>Search Customer</h2>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchCustomerByName()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="name">Name :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="name" 
            name="id" required [(ngModel)]="name" placeholder="Search Customer by name" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchCustomerByName()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="name">FirstName :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="name" 
            name="name" required [(ngModel)]="name" placeholder="Search Customer by FirstName" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<br/>

<br/>
<ul>
    <li *ngIf="customer">
        <h4>{{ customer.id }} - {{ customer.name }} {{ customer.username }} - {{customer.email}}</h4>
    </li>
</ul>
<ul>
    <li *ngFor="let customer of customers">
        <h4>{{ customer.id }} - {{ customer.name }} {{ customer.username }} - {{customer.email}}</h4>
    </li>
</ul>


