<br/>
<h2>Registro de Customer</h2>
<br/>
<div>
    <form ngNativeValidate (ngSubmit)="insertCustomer()">
        <div>
            <input type="hidden" id="CustomerId" name="CustomerId"
            required [(ngModel)]="customer.id">
        </div>
        
        <div class="form-group col-md-6">
            <label for="name">Name :</label>
            <input type="text" class="form-control" id="name"
            name= "name" placeholder="name"
            required [(ngModel)]="customer.name" />
        </div>

        <div class="form-group col-md-6">
            <label for="password">Password :</label>
            <input type="text" class="form-control" id="password"
            name= "password" placeholder="password"
            required [(ngModel)]="customer.password" />
        </div>

        <div class="form-group col-md-6">
            <label for="Username">Username :</label>
            <input type="text" class="form-control" id="Username"
            name="Username" placeholder="Username"
            required [(ngModel)]="customer.username" />
        </div>

        <!--<div class="form-group col-md-6">
            <label for="gender">Gender :</label>
            <input type="text" class="form-control" id="gender"
            name="gender" placeholder="Gender"
            required [(ngModel)]="customer.gender" />
        </div></!-->

        <div class="form-group col-md-6">
            <label for="gender">Gender :</label>
            <select class="form-select" name="gender" [(ngModel)]="customer.gender" required>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="phone">Phone :</label>
            <input type="text" class="form-control" id="phone"
            name="phone" placeholder="Phone"
            required [(ngModel)]="customer.phone" />
        </div>

        <div class="form-group col-md-6">
            <label for="email">Email :</label>
            <input type="text" class="form-control" id="email"
            name="email" placeholder="Email"
            required [(ngModel)]="customer.email" />
        </div>

        <!--<div class="form-group col-md-6">
            <label for="rol">Rol :</label>
            <input type="number" class="form-control" id="rol"
            name="rol" placeholder="Rol"
            required [(ngModel)]="customer.rol.id" />
        </div></!-->

        <div class="form-group col-md-6">
            <label for="rol">Rol :</label>
            <select class="form-select" name="rol" [(ngModel)]="customer.rol.id" required>
                <option selected value="1">Principiante</option>
                <option value="2">Veterano</option>
                <option value="3">Avanzado</option>
                <option value="4">Profesional</option>
                <option value="5">God</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>
</div>