<br/>
<h2>Listado de Sellers</h2>
<br/>
<div>
<br/>
<table class="table table-striped">
    <thead class="thead_dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let seller of sellers">
            <tr>
                <th scope="row">{{ seller.id }}</th>
                <td>{{seller.name}}</td>
                <td>{{seller.username}}</td>
                <td>{{seller.password}}</td>
                <td>{{seller.gender}}</td>
                <td>{{seller.phone}}</td>
                <td>{{seller.email}}</td>

                <td>
                    <button type="submit" (click)='deleteSeller(seller)' class="btn btn-danger">Delete</button>
                    <button type="submit" (click)='updateSeller(seller)' class="btn btn-primary">Update</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>