<br/>
<h2>Search Products</h2>
<br/>
<div>
    <form class="row g-3" ngNativeValidate (ngSubmit)="searchProductByName()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="name">Name :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="name" 
            name="name" required [(ngModel)]="name" placeholder="Search by name" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<br/>

<br/>

<table class="table table-striped table-dark table-hover">
    <thead class="thead_dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Seller</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let product of products">
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.seller.id}}</td>
                <td>{{product.category.id}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
