<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<!--div class="toolbar" role="banner">

  
  <img
    width="40"
    alt="Uter Logo"
    src="../assets/logoUter.png">
  <span>Uter</span>
  
    <div class="spacer">
    <a href="/src/index.html">Inicio </a>  
    <a routerLink="customers/create">Customer</a>
    <a routerLink="sellers/create">Seller</a>
    <a routerLink="customers/search">Buscar</a>
    <a routerLink="customers/list">Listar</a>
    <a routerLink="reviews/list">Listar Reviews</a>
    <a routerLink="profile">Profile</a>
      <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item active" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
  </div>
    
</div-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Uter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="customers/create">Create</a></li>
            <li><a class="dropdown-item" routerLink="customers/list">List</a></li>
            <li><a class="dropdown-item" routerLink="customers/search">Search</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sellers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="sellers/create">Create</a></li>
            <li><a class="dropdown-item" routerLink="sellers/list">List</a></li>
            <li><a class="dropdown-item" routerLink="sellers/search">Search</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Roles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="roles/create">Create</a></li>
            <li><a class="dropdown-item" routerLink="roles/list">List</a></li>
            <li><a class="dropdown-item" routerLink="roles/search">Search</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="categories/create">Create</a></li>
            <li><a class="dropdown-item" routerLink="categories/list">List</a></li>
            <li><a class="dropdown-item" routerLink="categories/search">Search</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Orders
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="orders/create">Create</a></li>
            <li><a class="dropdown-item" routerLink="orders/list">List</a></li>
            <li><a class="dropdown-item" routerLink="orders/search">Search</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Order Details
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="orderdetails/create">Create</a></li>
            <li><a class="dropdown-item" routerLink="orderdetails/list">List</a></li>
            <li><a class="dropdown-item" routerLink="orderdetails/search">Search</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="products/create">Create</a></li>
            <li><a class="dropdown-item" routerLink="products/list">List</a></li>
            <li><a class="dropdown-item" routerLink="products/search">Search</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reviews
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="reviews/create">Create</a></li>
            <li><a class="dropdown-item" routerLink="reviews/list">List</a></li>
            <li><a class="dropdown-item" routerLink="reviews/search">Search</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br>
<!--ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="listar">Listar</>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="nuevo">Nuevo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="buscar">Buscar</a>
  </li>

</ul-->
<router-outlet></router-outlet>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
