

<div class="co"> 
  <div class="contenedor">
    <div>
      <button  class="button-editar" mat-raised-button color="primary"> Editar <span class="material-icons">
        edit
        </span></button>
      <div class="img-profile">
        <img class="img-user" src="../../../assets/user-1633249_1280-768x749.png" alt="">
      </div>
      
      <div class="datos">
        <div>
          <h3>Name</h3>
          <h4>{{customer.name}}</h4>
        </div>

        <div>
          <h3>Username</h3>
          <h4>{{customer.username}}</h4>
        </div>

        <div>
          <h3>Phone</h3>
          <h4>{{customer.phone}}</h4>
        </div>

        <div>
          <h3>Email</h3>
          <h4>{{customer.email}}</h4>
        </div>

        <div>
          <h3>Gender</h3>
          <h4>{{customer.gender}}</h4>
        </div>

      
      </div>
    </div>
  </div>
  
  
</div>
