
    <div class="logo">
        <img style="height: 100px;" src="../../../assets/logoUter.png">
        <h2 class="slogan">BIENVENIDO!</h2>
    </div>
    
    <div class="contenedor" (click)="goCustomer()">
        <div class="tournament">
            <div class="s-tournament"></div>
            <div class="t-tournament"><p>Quiero ver y comprar</p></div>
            
        </div>
        
        <div class="team">
            <div class="s-team" (click)="goSeller()"></div>
            <div class="t-team"><p>Quiero ver y vender</p></div>
        </div>
        
    </div>
